<%= simple_form_for @truck do |f| %>

  <div class="row-fluid">
    <div class="span7 well">

      <% if @truck.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-error">
          <h3><%= pluralize(@truck.errors.count, "error") %> prohibited this truck from being saved:</h3>
        </div>
      </div>
      <% end %>

      <div class="row-fluid" >
        <div class="span3">
          <div class="control-group string required algo">
            <%= label_tag :algo, nil, :class => "string required control-label" %>
            <%= select("algo", "id", Algo.all.collect {|a| [ a.name, a.id ] }) %>
          </div>
          <%= f.input :m %>
          <%= f.input :m2 %>
        </div>

        <div class="span3" >
          <%= f.input :name %>
          <%= f.input :model_year %>
          <%= f.input :i %>
        </div>

        <div class="span2" >
          <%= f.input :b,   as: :select, :selected => 'false' %>
          <%= f.input :c, as: :select, :selected => 'false' %>
          <%= f.input :d, as: :select, :selected => 'false' %>
          <%= f.input :e, as: :select, :selected => 'false' %>
        </div>

        <div class="span2">
          <%= f.input :f, as: :select, :selected => 'false' %>
          <%= f.input :g, as: :select, :selected => 'false' %>
          <%= f.input :h, as: :select, :selected => 'false' %>
        </div>
      </div>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <%= f.button :submit %>
    </div>
  </div>

<% end %>