<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3 well">
      <h2>Inputs:</h2>
      <ul>
        <li><b>Name:</b> <%= @truck.name %></li>
        <li><b>Model Year:</b> <%= @truck.model_year %></li>
        <li><b>M:</b> <%= @truck.m %></li>
        <li><b>M2:</b> <%= @truck.m2 %></li>
        <li><b>A:</b> <%= @truck.a %></li>
        <li><b>B:</b> <%= @truck.b %></li>
        <li><b>B:</b> <%= @truck.b %></li>
        <li><b>C:</b> <%= @truck.c %></li>
        <li><b>D:</b> <%= @truck.d %></li>
        <li><b>E:</b> <%= @truck.e %></li>
        <li><b>F:</b> <%= @truck.f %></li>
        <li><b>G:</b> <%= @truck.g %></li>
        <li><b>H:</b> <%= @truck.h %></li>
        <li><b>I:</b> <%= @truck.i %></li>
      </ul>
    </div>

    <div class="span3 offset1 well">
      <h2>Output:</h2>
      <br />
      <h3>Estimated Value:</h3>
      <h1><%= number_to_currency(@value.estimate) %></h1>
      <br />
      <h4><%= @value.ts %></h4>
    </div>

  </div>
</div>