<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @truck.name %>
</p>

<p>
  <b>Model year:</b>
  <%= @truck.model_year %>
</p>

<p>
  <b>M:</b>
  <%= @truck.m %>
</p>

<p>
  <b>M2:</b>
  <%= @truck.m2 %>
</p>

<p>
  <b>A:</b>
  <%= @truck.a %>
</p>

<p>
  <b>B:</b>
  <%= @truck.b %>
</p>

<p>
  <b>C:</b>
  <%= @truck.c %>
</p>

<p>
  <b>D:</b>
  <%= @truck.d %>
</p>

<p>
  <b>E:</b>
  <%= @truck.e %>
</p>

<p>
  <b>F:</b>
  <%= @truck.f %>
</p>

<p>
  <b>G:</b>
  <%= @truck.g %>
</p>

<p>
  <b>H:</b>
  <%= @truck.h %>
</p>

<p>
  <b>I:</b>
  <%= @truck.i %>
</p>

<p>
  <b>V:</b>
  <%= @value.estimate %>
</p>


<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
