<h1>SABER ALTER</h1>

<%= form_tag create_est_url do%>

  <div class="field">
    <%= label_tag :algo %><br />
    <%= select("algo", "id", Algo.all.collect {|a| [ a.name, a.id ] }) %>
  </div>

  <div class="field">
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <%= label_tag :model_year %><br />
    <%= text_field_tag :model_year %>
  </div>
  <div class="field">
    <%= label_tag :m %><br />
    <%= text_field_tag :m %>
  </div>
  <div class="field">
    <%= label_tag :m2 %><br />
    <%= text_field_tag :m2 %>
  </div>
  <div class="field">
    <%= label_tag :b %><br />
    <%= hidden_field_tag :b, 0 %>
    <%= check_box_tag :b %>
  </div>
  <div class="field">
    <%= label_tag :c %><br />
    <%= check_box_tag :c %>
  </div>
  <div class="field">
    <%= label_tag :d %><br />
    <%= check_box_tag :d %>
  </div>
  <div class="field">
    <%= label_tag :e %><br />
    <%= check_box_tag :e %>
  </div>
  <div class="field">
    <%= label_tag :f %><br />
    <%= check_box_tag :f %>
  </div>
  <div class="field">
    <%= label_tag :g %><br />
    <%= check_box_tag :g %>
  </div>  
  <div class="field">
    <%= label_tag :h %><br />
    <%= check_box_tag :h %>
  </div>
  <div class="field">
    <%= label_tag :i %><br />
    <%= text_field_tag :i %>
  </div>
  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>
<% end %>
