<%= simple_form_for @algo do |f| %>

  <div class="row-fluid">
    <div class="span6 well">

      <% if @algo.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            <h3><%= pluralize(@algo.errors.count, "error") %> prohibited this algo from being saved:</h3>
          </div>
        </div>
      <% end %>

      <div class="row-fluid">
        <div class="span3">
          <%= f.input :name %>
          <%= f.input :y_intercept %>
          <%= f.input :a %>
        </div>

        <div class="span3">
          <%= f.input :b %>
          <%= f.input :c %>
          <%= f.input :d %>
        </div>

        <div class="span3">
          <%= f.input :e %>
          <%= f.input :f %>
          <%= f.input :g %>
        </div>

        <div class="span3">
          <%= f.input :h %>
          <%= f.input :i %>
        </div>
      </div>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <%= f.button :submit %>
    </div>
  </div>

<% end %>
