<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @algo.name %>
</p>

<p>
  <b>Y intercept:</b>
  <%= @algo.y_intercept %>
</p>

<p>
  <b>A:</b>
  <%= @algo.a %>
</p>

<p>
  <b>B:</b>
  <%= @algo.b %>
</p>

<p>
  <b>C:</b>
  <%= @algo.c %>
</p>

<p>
  <b>D:</b>
  <%= @algo.d %>
</p>

<p>
  <b>E:</b>
  <%= @algo.e %>
</p>

<p>
  <b>F:</b>
  <%= @algo.f %>
</p>

<p>
  <b>G:</b>
  <%= @algo.g %>
</p>

<p>
  <b>H:</b>
  <%= @algo.h %>
</p>

<p>
  <b>I:</b>
  <%= @algo.i %>
</p>


<%= link_to 'Edit', edit_algo_path(@algo) %> |
<%= link_to 'Back', algos_path %>
