<!DOCTYPE html>
<html>
<head>
  <title>SaberAlter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar :fixed => :top, :responsive => true, :fluid => true, :brand => "Saber Alter", :brand_link => root_url do %>
  <%= menu_group do %>
    <%= menu_divider %>
    <%= menu_item "Truck Estimate", root_path %>
    <%= menu_item "Trucks List", trucks_url %>
    <%= menu_divider %>
    <%= menu_item "Algo Create", new_algo_url %>
    <%= menu_item "Algos List", algos_url %>
    <%= menu_divider %>
    <%= menu_item "Values List", values_url %>
    <%= menu_divider %>
    <%= menu_item "Services" %>
    <%= menu_item "About" %>
    <%= menu_item "Contact" %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
